# Documentation
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

# Disabling formatting on a piece of code
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html#disabling-formatting-on-a-piece-of-code
# Example:
#   int formatted_code;
#   // clang-format off
#       void    unformatted_code  ;
#   // clang-format on
#   void formatted_code_again;
---
BasedOnStyle: LLVM

AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
IndentCaseLabels: true
InsertNewlineAtEOF: true
PointerAlignment: Left
SpacesBeforeTrailingComments: 2
